*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: gilroy;
    ::-webkit-scrollbar{
    display: none;
}
}

html, body{
    height: 100%;
    width: 100%;
}  

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    padding: 1vw 10vw;
    background-color: #111;
    height: 12vh;

}

nav:hover #nav-below{
    height: 170%;
    bottom: -170%;
    transition: all ease 0.7s;


}

.nav-2{
    display: flex;
    gap: 5vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;


}

.nav-2 h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 550;
    margin-bottom: 2.6vw;
    gap: 2vw;
    
} 


.nav-2 h5 span {
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
    overflow: hidden;
}


.nav-2 .nav-ele{
    margin-top: 12rem;
}

#nav-below{
    background-color: transparent;
    height: 0vh;
    position: absolute;
    width: 80%;
    bottom:  0%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0vw 25vw;
    padding-left: 17vw;
    display: none;
}

#nav-below .nav-ele{
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}

#nav-below h5 span {
    font-size: 0.7vw;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}

.nav-2 h4 {
    margin-bottom: 6vh;
    padding-top: 5px;


} 

.nav-2 h5{
    margin-bottom: 1vh;
    cursor: pointer;
}

#nav-below h5 {
    margin-bottom: 1vw;
    gap: 2vw;
    overflow: hidden;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8vw;
    font-weight: 900;
    line-height: 6vw;
    background-color: #111;
}

#page1 p{
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
}

.page1-box{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
}

.page1-box h4{
    border: white 2px solid;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.35vw;
    transition: 0.7s;
    font-weight: 500;
}

.page1-box h4:hover{
    border: rgb(106, 78, 249) 4px solid;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: underline;
    font-size: 1.35vw;
    transition: 0.7s;
    font-weight: 500;
    cursor: pointer;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111 ;
}

button{
    background-color: rgb(114, 13, 47);
    border-radius: 50px;
    border: 3px solid white;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 2vw;


}

#flow{
    width: 80%;
    height: 0vh;
    z-index: 9;
    position: absolute;
    background-color: #111;
    top: 100%;
    border-bottom: 1.5px solid white;

}